body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #f0f0f0; /* Light gray background */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center; 
}

.header-image-container {
  margin-right: 10px; 
}

nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end; /* Align nav links to the right */ 
}

nav li {
  margin-left: 20px; /* Add margin to the left for spacing */
}

nav a {
  text-decoration: none;
  color: #000000; /* Dark gray text color */
}
hero {
  background-color: #a1a1a1; /* Light gray background */ /* Optional: Change to a different color */
  color: #d0cccc;
  text-align: center;
  padding: 100px 0; /* Adjust padding for height */
}

.hero-content {
   /* Set a maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
}
.hero-image {
  position: relative;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  opacity: 0.5; /* Set opacity for a subtle overlay effect */
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #707070;
  text-align: center;
  cursor: pointer;
}
.hero-text button:hover {
  background-color: #555;
  color: rgb(0, 0, 0);
}
main {
  padding: 20px;
}

.welcome-message {
  margin-bottom: 20px;
  text-align: center;
}

.news-section1 {
  display: flex; /* Use flexbox for horizontal layout */
  border: 1px solid #3f3f3f; /* Light gray border */
  padding: 10px;
  margin-right: 20px;
}

.news-image-container1, .news-image-container2, .news-image-container3 {
  margin-right: 20px; /* Add spacing between image and text */
}

.news-text-container1, .news-text-container2, .news-text-container3 {
  /* Optional: Add some padding to the text container */
  padding-left: 10px; 
}

.news-title, .news-title2, .news-title3 {
  font-weight: bold;
}

.news-details, .news-details2, .news-details3 {
  margin-top: 20px;
}

.news-section2 {
  display: flex; /* Use flexbox for horizontal layout */
  border: 1px solid #3f3f3f; /* Light gray border */
  padding: 10px;
  margin-right: 20px;
}
.news-section3 {
  display: flex; /* Use flexbox for horizontal layout */
  border: 1px solid #3f3f3f; /* Light gray border */
  padding: 10px;
  margin-right: 20px;
}