body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #f0f0f0; /* Light gray background */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center; 
}

.header-image-container {
  margin-right: 10px; 
}

nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end; /* Align nav links to the right */ 
}

nav li {
  margin-left: 20px; /* Add margin to the left for spacing */
}

nav a {
  text-decoration: none;
  color: #000000; /* Dark gray text color */
}
hero {
  background-color: #a1a1a1; /* Light gray background */ /* Optional: Change to a different color */
  color: #d0cccc;
  text-align: center;
  padding: 100px 0; /* Adjust padding for height */
}

.hero-content {
   /* Set a maximum width for the content */
  margin: 0 auto; /* Center the content horizontally */
}
.hero-image {
  position: relative;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  opacity: 1; /* Set opacity for a subtle overlay effect */
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: rgb(255, 255, 255);
  background-color: #707070;
  text-align: center;
  cursor: pointer;
}
.hero-text button:hover {
  background-color: #555;
  color: rgb(0, 0, 0);
}
main {
  padding: 20px;
}

.welcome-message {
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.column {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.column:hover {
  transform: translateY(-10px);
}